<!DOCTYPE html>
<html>
	<body>
		<h1>
			{% block titre %}Toz
			{% endblock %}
		</h1>
		<div id="contenu"> 
                {% block contenu %}
                {% endblock %}
		</div>
		<hr/>
		<div id="pied_de_page">
			<p>&copy; Manuellement, automatiquement.</p>
		</div>
	</body>
</html>
