{% extends "src/layoutgeneral.html.twig" %}
{% block titre %}
    {{ parent() }} - Ajouter un restaurant
{% endblock %}
{% block contenu %}
    <h3>renseigner les champs ci-dessous</h3>
    {% include "formulaire.html.twig" %}
{% endblock %}