{{ form_start(monFormulaire) }}
    {{ form_errors(monFormulaire) }}
<table>
    <tr>
        <td>{{ form_row(monFormulaire.nom) }}</td>
        <td>{{ form_row(monFormulaire.chef) }}</td>
    </tr>
    <tr>
        <td>{{ form_row(monFormulaire.nb_etoile) }}</td>
        <td>{{ form_row(monFormulaire.submit) }}</td>
    </tr>
</table>
{{ form_end(monFormulaire) }}