{% extends "src/layoutgeneral.html.twig" %}
{% block titre %}
	{{ parent() }}: Voir un resto
{% endblock %}
{% block contenu %}
	<p>Trouez un restaurant</p>
	<a href="{{ path('menu_guide') }}">GO LE MENU</a>
{% endblock %}
