{% extends "src/layoutgeneral.html.twig" %}
{% block titre %}
 {{ parent() }} : Menu
{% endblock %}
{% block contenu %}
<ul>
{% for resto in listresto %}
<li><a href="{{ path('voir', { 'id': resto.id }) }}"> {{ resto.nom }}</a></li>
{% endfor %}
</ul>
<a href="{{ path('menu_guide') }}">GO LE MENU</a>
{% endblock %}