{% extends "src/layoutgeneral.html.twig" %}
{% block titre %}
 {{ parent() }} : Menu
{% endblock %}
{% block contenu %}
<ul>
{% for resto in listresto %}
 <li> Chef : {{resto.chef}}</li>
{% endfor %}
</ul>
<a href="{{ path('menu_guide') }}">GO LE MENU</a>
{% endblock %}