{% extends "src/layoutgeneral.html.twig" %}
{% block titre %}
 {{ parent() }} : Menu
{% endblock %}
{% block contenu %}
 <a href="{{ path('formulaire') }}"> Ajouter un resto</a>
 <a href="{{ path('list') }}"> List des resto</a>
	<ul>
		<li><a href="{{ path('list') }}"> List des resto</a></li>
		<li><a href="{{ path('listchef') }}"> List des chefs</a></li>
		<li>plats</li>
	</ul>
{% endblock %}