{% extends "src/layoutgeneral.html.twig" %}
{% block titre %}
	{{ parent() }}
	- modifier un resto
{% endblock %}
{% block contenu %}
	{% include "formulaire.html.twig" %}
	<p>Attention ! vous modifiez un resto existante.</p>
	<p>
		<a href="{{ path('menu_guide') }}">Abandonner</a>
	</p>
{% endblock %}
