{% extends "src/layoutgeneral.html.twig" %}
{% block titre %}
 {{ parent() }} : Menu
{% endblock %}
{% block contenu %}
<ul>
{% for resto in salles %}
 <li> Restaurant : {{resto.nom}}</li>
{% endfor %}
</ul>
<a href="{{ path('menu_guide') }}">GO LE MENU</a>
{% endblock %}