{% extends "src/layoutgeneral.html.twig" %}
{% block titre %}
	{{ parent() }}: Voir un resto
{% endblock %}
{% block contenu %}
	<a href="{{ path('menu_guide') }}">
		GO LE MENU</a>
	<ul>
		<li>nom{{ resto.nom }}</li>
		<li>chef{{ resto.chef }}</li>
		<li>nombre etoile :{{ resto.getNbEtoile() }}</li>
	</ul>
	<li><a href="{{ path('resto_modifier', { 'id': resto.id }) }}"> Modifier resto</a></li>
{% endblock %}
